# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/
/shelf/
/workspace.xml

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Mac OS
.DS_Store

# Java
*.class

# Build output
target/
build/